{
    "parser": "babel-eslint",
    "extends": "react",
    "rules": {
      
    },
    "env": {
      "browser": true,
      "node": true
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    }
  }